

/*navbar*/
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(249, 247, 247) url(http://lorempixel.com/1920/1080/nature/) fixed;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

#navbar {
    background: rgb(249, 247, 247);
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}

.nav-wrapper {
    margin-right: 4%;
    text-align: center;
    width: 70%;
}

@media(max-width: 768px) {
    .nav-wrapper {
        width: 90%;
    }
}

@media(max-width: 638px) {
    .nav-wrapper {
        width: 100%;
    }
}

.logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media(max-width: 768px) {
    .logo {
        margin-left: 5px;
    }
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
    #navbar ul {
        display: none;
    }
}

@media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
}

#navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
}

@media(max-width: 640px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before,
    .icon-bars::after {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::before {
        top: -8px;
    }

    .icon-bars::after {
        bottom: -8px;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }

    @keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes middleBar {
        0% {
            width: 0px
        }

        50% {
            width: 20px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::before {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }

    @keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes topBar {
        0% {
            width: 0px
        }

        50% {
            width: 10px
        }

        100% {
            width: 0px
        }
    }

    .icon-bars.overlay::after {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }

    @keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    @-webkit-keyframes bottomBar {
        0% {
            width: 0px
        }

        50% {
            width: 15px
        }

        100% {
            width: 0px
        }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}

.overlay-menu {
    background: white;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

/*card*/
body {
    font-family: 'Arial', sans-serif;
    margin: 5%;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  
  .card-text {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .rating {
    color: #ffd700;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .rating .star {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  
  .cart-icon {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .btn {
    width: 48%; /* Adjust width as needed */
  }
  #a6aea9
  .btn-success {
    background-color: #8f463c;
    border-color: #808080;
    font-weight: 700;
    border: 2px,solid,#808080;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-success:hover {
    background-color: #ba7970;
    border-color: #ba7970;
    border-color: #ba7970;
    font-weight: 700;
    border: 2px,solid,#ba7970;
    border-radius: 5px;
  }
  
  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    width: 300px;
    height: 100%;
    overflow-y: auto;
  }
  
  #cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  /*wapper*/
  .wrapper{
    min-width: 90%;
    border: 0px solid white;
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    }
    .wrapper::-webkit-scrollbar{
        width: 0;
    }
    .wrapper .item1{
        min-height: 110px;
        height: 110px;
        line-height: 110px;
        text-align: center;
    }
    .item-btn0{
        margin-left: 0%;
    }
    .item1-btn1{
        margin-left: 10%;
    }
    .item1-btn2{
        margin-left: 10%;
    }
    .item1-btn3{
        margin-left: 10%;
    }
    .item1-btn4{
        margin-left: 10%;
    }
    .item1-btn5{
        margin-left: 10%;
    }
    .item1-btn0 button{
        border: 0px solid white;
        background-color: white;
        min-width: 100px;
        border-radius: 5px;
    }
    .item1-btn1 button{
        border: 0px solid white;
        background-color: white;
        min-width: 100px;
        border-radius: 5px;
    }
    .item1-btn2 button{
        border: 0px solid white;
        background-color: white;
        min-width: 100px;
        border-radius: 5px;
    }
    .item1-btn3 button{
        border: 0px solid white;
        background-color: white;
        min-width: 100px;
        border-radius: 5px;
    }
    .item1-btn4 button{
        border: 0px solid white;
        background-color: #ffffff;
        MIN-width: 200px;
        border-radius: 5px;
    }
    .item1-btn5 button{
        border: 0px solid white;
        background-color: white;
        min-width: 100px;
        border-radius: 5px;
    }
    button{
        white-space: nowrap;
    }
    button:hover{
    background-color: #ba7970;
    color: #f1ecec;
    }
    .filter-icon {
        cursor: pointer;
        margin-right: 100px;
      }
      .item {
        display: block;
        margin-bottom: 10px;
      }
      .wrapper-bags{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .wrapper-bags a{
        white-space: nowrap;
        
      }
      .wrapper-bags button{
      font-weight: bolder;
      padding: 10px;
      }
      /*filter
     */
     #filter-options {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #filter-options button {
        padding: 8px 16px;
        margin: 0 5px;
        cursor: pointer;
    }
    
    #bag-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .bag {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px;
        display: flex;
        align-items: center;
    }
    
    .bag i {
        margin-right: 5px;
    }
    /*IMAGE*/
    .introimage{
        animation: bounce 4.5s linear infinite;
      }  
      @keyframes bounce{
      
        0%{
            transform: rotate(0deg) translatey(30px);
          }
          25%{
            transform: rotate(-0deg) translatey(-30px);
          }
          50%{
            transform: rotate(0deg) translatey(30px);
          }
          75%{
            transform: rotate(0deg) translatey(-30px);
          }
          100%{
            transform: rotate(0deg) translatey(30px);
          }
      }  